@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

:root {
    --bg-color: #1a1a24;
    --text-color: #f0f0f0;
    --accent: #d4af37; /* Oro per lo step finale */
    --panel-bg: #2a2a36;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('/static/imgs/AdobeStock_1569662240_hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: var(--bg-color); /* fallback */
    color: var(--text-color);
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}